body.view-meta {
    .func-stage-inner {
        transform: rotateY(180deg);
    }
    .func-stage-front {
        opacity:0;
        pointer-events: none;
    }
}

body.select-nft {
    .nft-selector {
        transform: translateY(0vh);
        opacity:1;
    }
}

body.nft-selected {
    .func-stage-front img {
        opacity:1 !important;
    }
    .func-stage-flip {
        display:flex;
    }
    .func-stage-open-selector {
        display:none;
    }
    .btn-eject {
        display:block;
    }
    .func-action, .slick-prev, .slick-next {
        opacity:1;
        pointer-events:auto;
    }
}

body.inspect {
    .nft-inspector {
        opacity:1 !important;
        pointer-events:auto !important;
    }
}

.logged-in {
    .connect {
        display:none !important;
    }
    .user {
        display:inline-block;
    }
    .func-stage-open-selector {
        cursor:pointer;
        opacity:0.2;
        &:hover {
            opacity:1;
        }
    }
    .func-intro {
        opacity:0;
    }
}

header {
    width:94vw;
    padding:4vh 3vw;
    text-align:center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: stretch;
    nav {
        display:inline-block;
        float:left;
        width:40%;
        text-align: left;
        .what-is-this {
            a {
                display:inline-block;
                /*display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                align-content: center;*/
                i {
                    display:inline-block;
                    width:23px;
                    margin-right:6px;
                }
                span {
                    display: inline-block;
                    margin-top: -1px;
                }
            }
        }
        a {
            color:$gray-light;
        }
    }
    .func-logo {
        position:relative;
        margin-right:33px;
        svg {
            display:inline-block;
        }
        span {
            display: inline-block;
        }
        .func-logo-wordmark {
            width:78px;
        }
        .func-logo-icon {
            position: absolute;
            right:-33px;
            top:-1px;
            background-image:url("../img/emoji-gear.png");
            background-repeat: no-repeat;
            background-size:contain;
            background-position: center;
            width:27px;
            height:27px;
            @include fade;
        }
        &:hover {
            .func-logo-icon {
                transform: rotate(360deg);
            }
        }
    }
    
    .session-user {
        float:right;
        width:40%;
        text-align: right;
    }
    
    .func-logo{
        svg {
            max-height:24px;
        }
    }
    .connect {
        @include alt-font;
        font-size:11px;
        padding:10px 17px 9px;
        border-radius:30px;
        &:hover, &:active {
            color:#fff;
            background-color:#000;
        }
    }
    .user {
        display:none;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color:#f4f4f4;
        @include alt-font;
        font-size:11px;
        padding:10px 17px 9px;
        border-radius:30px;
        .wallet-avatar {
            display:none;
            width:20px;
            height:20px;
            background-color:#e2e2e2;
        }
        &:hover, &:active {
            color:#fff;
            background-color:#000;
        }
    }
}

.func_inspect, .func_drop, .func_destroy {
    position: relative;
}

.func_destroy .func-stage-front {
    background-image:url("../img/bkg-destroy.jpg");
    background-size:cover;
    background-position:center;
    .destroy-image img {
        max-width: 300px;
        max-height: 300px;
        margin: 10px;
    }
}

.func-wrapper {
    width:100%;
    margin:0 auto;
}
.func-stage {
    width:94vw;
    height:70vh;
    max-width:800px;
    margin:0 auto;
    padding: 0;
    text-align: center;
    position: relative;

    &:hover {
        .func-stage-flip {
            opacity:1;
        }
    }
    &.flip {
        .func-stage-inner {
            transform: rotateY(180deg);
        }
    }
    .func-stage-inner {
        position: relative;
        width:100%;
        height:100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        .func-stage-back, .func-stage-front {
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            bottom:0;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            background-color:#f4f4f4;
            border-radius:50px;
            cursor:pointer;
            overflow: hidden;
        }
        .func-stage-front {
            margin:0;
            padding: 0;
            overflow:hidden;
            display:flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            .stage-nft-media {
                margin:5vh 5vw;
                img {
                    opacity:0;
                    max-height:60vh;
                    max-width:100%;
                    pointer-events: none;
                }
           }
        }
        .func-stage-back {
            background-color:#f4f4f4;
            width:100%;
            height:calc(100% - 10vh);
            padding:5vh 0;
            transform: rotateY(180deg);
            .nft-title {
                @include heading-font;
                font-size:1.3em;
            }
            .nft-creator {
                margin-top:10px;
            }
            .nft-metadata {
                margin:3vh auto 3vh;
                max-width:400px;
                ul {
                    text-align:right;
                    li {
                        width:100%;
                        display:block;
                        margin-bottom:1.6vh;
                        padding:4px 0;
                        font-size:0.9em; 
                        border-bottom:solid 1px #bbb;
                        label {
                            float:left;
                        }
                        span {
                            font-weight:700;
                        }
                        #meta-contract {
                            display:inline-block;
                            width:220px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-weight:700;
                        }
                    }
                }
                
            }
            .meta-description {
                display:inline-block;
                width:90%;
                max-width: 360px;
                margin:20px auto 0;
                padding: 20px;
                text-align: left;
                line-height: 1.3em;
                padding:20px;
                border: solid 1px #bbb;
                border-radius: 10px;
                p {display:inline;}
                a {
                    display:inline;
                    font-size:12px;
                }
            }
            .nft-opensea-link {
                display: none;
                border-bottom: dashed 1px #000 ;
                padding-bottom:4px;
                &:hover {}
            }
        }
    }
}

.btn-eject, .btn-submit {
    position:absolute;
    bottom:5vh;
    left:4vw;
    height:58px;
    display:none;
    width:calc(100% - 8vw);
    padding:10px 0;
    background-color:#fff;
    border-radius:10px;
    color:#bbb;
    border:solid 1px #bbb;
    cursor:pointer;
    pointer-events: auto;
    @include fade;
    @include alt-font;
    font-size:17px;
    &:hover, &:active {
        color:#fff;
        background-color:#000;
        border-color:#000;
    }
    &:hover {
       
    }
    &:active {
        transform: scale(0.97);
        background-color:#222;
    }
}

.func-stage-open-selector {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    cursor: default;
    background-image:url("../img/icon-add.svg");
    background-position: center;
    background-size:15%;
    background-repeat: no-repeat;
    @include fadeSlow;
}

.func-stage-flip {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#f4f4f4da;
    background-image:url("../img/view-metadata.svg");
    background-repeat: no-repeat;
    background-size:40%;
    background-position: center;
    opacity:0;
    display:none;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    @include fade;
    span {
        width:40%;
        font-size:3em;
    }
}

.func-intro {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#f4f4f4da;
    opacity:1;
    text-align:center;
    display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    pointer-events:none;
    @include fade;
    .func-intro-inner {
        width:90%;
        max-width:460px;
        background: -webkit-linear-gradient(left, $gradient-color-1,$gradient-color-2 , $gradient-color-1);
        background-size: 1600px 200px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-duration: 3s;
        animation-name: animationgradienttitle;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        h1 {
            font-size:6vh;
            margin-top:0;
        }
        p {
            font-size:1.5em;
            line-height:1.4em;
        }
    }
}

.func-action {
    width:90vw;
    max-width:580px;
    margin:2vh auto 0;
    text-align: center;
    opacity:0.1;
    pointer-events:none;
    .func-action-prev, .func-action-next {
        display:inline-block;
        width:40px;
        cursor:pointer;
        @include fade;
        &:hover {
            transform: scale(1.05);
        }
        &:active {
            transform: scale(0.97);
            border-color:#222;
        }
    }
    .func-action-prev {
        float:left;
    }
    .func-action-next {
        float:right;
    }
    .func-action-slider {
        display:inline-block;
        width: 100%;
        height:58px;
    }
    .func-action-do {
        display:inline-block;
        width: 100%;
        height:100%;
        background-color:#f4f4f4;
        border-radius:10px;
        cursor:pointer;
        @include alt-font;
        font-size:17px;
        @include fade;
        &:hover, &:active {
            color:#fff;
            background-color:#000;
        }
        &:active {
            transform: scale(0.97);
            background-color:#222;
        }
    }
}


.slick-list, .slick-track, .slick-slide, .slick-slide > div:first-child {
    height:100%;
}
.slick-prev {
    display: inline-block;
    width: 40px;
    height: 58px;
    cursor: pointer;
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left: calc(50% - 360px);
    opacity:0;
    pointer-events:none;
    z-index:999;
}
.slick-next {
    display: inline-block;
    width: 40px;
    height: 58px;
    cursor: pointer;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    right: calc(50% - 360px);
    opacity:0;
    pointer-events:none;
    z-index:999;
}


#nft-inspector {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    pointer-events:none;
    flex-direction: column;
    flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    perspective: 1200px;
    background-color:#222;
    background: linear-gradient(to bottom, #222222, #111111);
    @include fade;
    img {
        height: 95vh;
        display: block;
        margin: 2.5vh auto;
        transition: all 0.15s ease-in-out;
    }
    .nft-inspector-close {
        position:absolute;
        top:3vh;
        right:5vw;
        color:#444;
        cursor: pointer;
        @include fade;
        @include alt-font;
        font-size:14px;
        &:hover {
            color:#fff;
        }
    }
}

#sidebar {
    display: none;
}

#func-stage-back {
    display:none;
}

.nft-selector {
    position:fixed;
    display:flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    overflow-y: scroll;
    overflow-x:hidden;
    transform: translateY(100vh);
    background-color:#111;
    text-align:center;
    @include fadeSlow;
    h1 {
        color:#fff;
        margin-bottom:30px;
    }
    .nft-selector-close {
        position:absolute;
        top:3vh;
        right:5vw;
        color:#fff;
        cursor: pointer;
        @include alt-font;
        font-size:14px;
    }
    .nft-selector-inner {
        max-width:800px;
        margin:0 auto;
        .filters {
            display:none;
            width:calc(100% - 4vw);
            padding:10px 2vw;
            .sort-by {
                
            }
        }
        .nft-list {
            width:calc(100% - 4vw);
            padding:0 2vw 10px;
            text-align:center;
            ul {
                display:inline-block;
                margin:0 auto;
                li {
                    width:200px;
                    display:inline-block;
                    color:#fff;
                    margin-bottom:20px;
                    cursor:pointer;
                    img {
                        max-width:100%;
                        margin-bottom:6px;
                        @include fade;
                    }
                    &:hover {
                        img {
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}

footer {
    display:block;
    width:100%;
    padding:0 0 30px;
    text-align:center;
    color:$gray-light;
}


form {

    // Action
$action: #fff;
$action-dark: #53aca9;

// Detail
$detail: #d5d7de;

// State
$failure: #e17776;
$success: #76a7e1;

// Spacing
$space-xxs: 5px;
$space-xs: 10px;
$space-s: 15px;
$space: 20px;
$space-l: 25px;
$space-xl: 30px;
$space-xxl: 40px;

// Text
$text: #8f97b7;
$text-dark: #71728c;
$text-light: #9ea2b5;
$text-invert: #ffffff;

    .fieldset + .fieldset,
    form + form,
    .message {
    margin-top: $space;
    }
    .fieldset {
        text-align:right;
        width:90vw;
        max-width:480px;
    }

    label {
    color: #000;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    display:inline-block;
    margin-right:10px;
    float:left;
    }

    input,
    textarea,
    select {
    border: 1px solid $detail;
    border-radius: 10px;
    color: $text-dark;
    font-size: 100%;
    padding: $space-s
    }

    button[ type="submit"] {
    background: $action;
    border: 1px solid #bbb;
    box-shadow: none;
    color: #bbb;
    font-size: 87.5%;
    text-transform: uppercase;
    }
    .btn-submit {
        opacity:1;
        pointer-events:auto;
        display:inline-block;
        color:#000;
    }
    
}

.drop-image {
    border:solid 1px #bbb;
    border-radius:10px;
    img {
        max-width:100px;
        max-height:100px;
        margin:10px;
    }
}